.main-container
{
    flex: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: green; */
}

.first
{
    position: relative;
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.first button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 40px;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: white;
}
.details 
{
    text-align: center;
    margin: 10px 0;
}

.details h1
{
    font-size: 3rem;
    margin-bottom: 20px;
}

.details p{
    font-size: 1.5rem;

}
.details span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first img{
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.second
{
    width: 50%;
    height: 100%;
    background-color: aqua;

}